@page "/e-commerce/signup"

<Container Margin="Margin.Is3.OnY">
    <Row Flex="Flex.JustifyContent.Center.OnDesktop">
        <Column ColumnSize="ColumnSize.Is6.OnDesktop" Padding="Padding.Is3" Border="Border.Is1">
            <Heading Size="HeadingSize.Is4" TextAlignment="TextAlignment.Center">
                Sign Up
            </Heading>
            <Validations @ref="@validationsRef" Mode="ValidationMode.Manual" Model="@InputModel">
                <Fields>
                    <Validation>
                        <Field>
                            <FieldLabel>
                                First name
                            </FieldLabel>
                            <FieldBody>
                                <TextEdit Placeholder="First name" @bind-Text="@InputModel.FirstName">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextEdit>
                            </FieldBody>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field>
                            <FieldLabel>
                                Last name
                            </FieldLabel>
                            <FieldBody>
                                <TextEdit Placeholder="Last name" @bind-Text="@InputModel.LastName">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextEdit>
                            </FieldBody>
                        </Field>
                    </Validation>
                </Fields>
                <Validation>
                    <Field>
                        <FieldLabel>
                            Email
                        </FieldLabel>
                        <FieldBody>
                            <Addons>
                                <Addon AddonType="AddonType.Start">
                                    <AddonLabel>
                                        <Icon Name="IconName.Mail" />
                                    </AddonLabel>
                                </Addon>
                                <Addon AddonType="AddonType.Body">
                                    <TextEdit Placeholder="Email" @bind-Text="@InputModel.Email">
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </TextEdit>
                                </Addon>
                            </Addons>
                        </FieldBody>
                    </Field>
                </Validation>
                <Validation>
                    <Field>
                        <FieldLabel>
                            Your password
                        </FieldLabel>
                        <FieldBody>
                            <Addons>
                                <Addon AddonType="AddonType.Start">
                                    <AddonLabel>
                                        <Icon Name="IconName.ShieldAlt" />
                                    </AddonLabel>
                                </Addon>
                                <Addon AddonType="AddonType.Body">
                                    <TextEdit Role="TextRole.Password" @bind-Text="@InputModel.Password">
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </TextEdit>
                                </Addon>
                            </Addons>
                        </FieldBody>
                    </Field>
                </Validation>
                <Button Color="Color.Primary" Block Margin="Margin.Is3.FromBottom" Clicked="@OnSubmit">
                    Create
                </Button>
                <Blazorise.Link Float="Float.Left" To="e-commerce/signin">Sign In</Blazorise.Link>
                <Blazorise.Link Float="Float.Right" To="e-commerce/forgotpassword">Forgot password?</Blazorise.Link>
            </Validations>
        </Column>
    </Row>
</Container>
@code{
    Validations validationsRef;

    RegisterInputModel InputModel = new RegisterInputModel();

    [Inject] NavigationManager NavigationManager { get; set; }

    Task OnSubmit()
    {
        if ( validationsRef.ValidateAll() )
        {
            //NavigationManager.NavigateTo( "e-commerce" );
        }

        return Task.CompletedTask;
    }
}